<h1>Hello World!</h1>

<h1>Follow this: https://www.youtube.com/watch?v=8ZPsZBcue50&t=1467s</h1>

<div>{{appState$ | async | json}}</div>

<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
  <ng-container *ngSwitchCase="DataState.LOADING">LOADING!</ng-container>
  <ng-container *ngSwitchCase="DataState.LOADED">LOADED!</ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR">NOOOOOOO!</ng-container>
</ng-container>

<span>
  <input
  type="text"
  name="match-name"
  id="match-name"
  (ngModelChange)="filterCandidates($event)"
  ngModel="">
</span>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'id']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'id'];"></tr>
</table>

<div id="addCandidateModal">
  <form
  #saveCandidateForm="ngForm"
  (ngSubmit)="saveCandidate(saveCandidateForm)">
    <div id="save-modal-header">
      <h4>Add Candidate</h4>
    </div>
    <div id="save-modal-body">
      <label>Name</label>
      <input
      ngModel
      id="candidate-name-textbox"
      type="text"
      name="name"
      required>
    </div>
    <div id="save-modal-footer">
      <button
      type="submit"
      name="add-candidate-btn"
      [disabled]="saveCandidateForm.invalid || (isLoading$ | async)">
      <span *ngIf="isLoading$ | async">Saving...</span>
      <span *ngIf="!(isLoading$ | async)">Add</span>
      </button>
    </div>
  </form>
</div>

<!-- todo: type="wholenumber" -->
<div id="deleteCandidateModal">
  <form
  #deleteCandidateForm="ngForm"
  (ngSubmit)="deleteCandidate(deleteCandidateForm)">
    <div id="delete-modal-header">
      <h4>Delete Candidate</h4>
    </div>
    <div id="delete-modal-body">
      <label>Id</label>
      <input
      ngModel
      id="delete-candidate-id"
      type="number"
      name="id"
      required>
    </div>
    <div id="delete-modal-footer">
      <button
      type="submit"
      name="delete-candidate-by-id"
      [disabled]="deleteCandidateForm.invalid || (isLoading$ | async)">
      <span *ngIf="isLoading$ | async">Deleting...</span>
      <span *ngIf="!(isLoading$ | async)">Delete</span>
      </button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>

<!-- todo: each repo that has to do witht he ecosystem will have
  its
  own github actions workflows configuration
  they can be tailored to each repo but don't have to be
  for example, the front end could be the only one that runs
  selenium
  I would actually prefer each be the same and there is a lot of
  redundancy (as in they are the same)
  between each repos respective pipeline
-->

<!--todo: add text areas for adding, removing,
  and updating candidates using proper json-->
<!--  then: modify backend to accept arrays of
  candidates to add, update, and delete-->

<!--todo: create a pub sub system where
  client subscribes to a topic that tells the
  client new data is available-->
<!--todo: it is useful to understand
  how objects will be cached and batched
  with regard to the back end
  One thing we want to have is batchability
  of objects to and from the DB
  another thing we want is cacheability in the front end
  if the backend is offline we show a big warning
  but we still batch together user inputs
  and when the backend comes back online
  we push the batch through all the way to the database
  we want to use existing database btach processing tools in psql
  imagine that multiple UIs are being used,
  we use the law of "additions", backend comes back up
  acquires the online clients it will manage,
  clients push batch commands
  backend waits for all of the batches to come in for
  30 seconds, then runs all deletes, then all updates/additions
  if something that has an update is deleted, then it just adds it.-->
