<h1>Hello World!</h1>

<h1>Follow this: https://www.youtube.com/watch?v=8ZPsZBcue50&t=1467s</h1>

<div>{{appState$ | async | json}}</div>

<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
  <ng-container *ngSwitchCase="DataState.LOADING">BIG FAT NUTS</ng-container>
  <ng-container *ngSwitchCase="DataState.LOADED">LOADED!</ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR">NOOOOOOO!</ng-container>
</ng-container>

<span>
  <input
  type="text"
  name="match-name"
  id="match-name"
  (ngModelChange)="filterCandidates($event)"
  ngModel="">
</span>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'id']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'id'];"></tr>
</table>

<router-outlet></router-outlet>

<!--todo: add text areas for adding, removing, and updating candidates using proper json-->
<!--  then: modify backend to accept arrays of candidates to add, update, and delete-->

<!--todo: create a pub sub system where client subscribes to a topic that tells the client new data is available-->
